
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ControlPage </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}">
        </script>
    <script type = "text/javascript"
    src = "{{ url_for('static', filename = 'test.js') }}" ></script>
   </head>
          <!-- Designing by CodingLab -->

          <!-- 디스플레이 시작 -->
<body>
  <div class="main_div">
      <div class="button" >
          <!-- <a href="Usersetting.html" style="background-color: white; 
          color: green; text-decoration: underline;">회원설정</a> -->
          <a href="/login">Logout</a>
      </div>
    <br>
    <div>
      <div class="ControlPage">Display</div>
      <form action="">
        <div>
          <!-- 식물 사진 -->
          <img src="{{ url_for('video_feed') }}" height="340" alt="plant" style="padding-top: 30px; padding-left: 100px;">
          <!-- 온도, 습도 , 조도, 토양습도  버튼 시작-->
          <div class="total">
            <div class="mid">
              <img src="{{ url_for('static', filename='images/온도.png') }}" alt="" height="50px" style="margin-right: 30px;">
              <p>현재온도 : 22℃</p>
              <p>LED</p>
              <input type="checkbox" id="switch1" name="switch1"  class="input__on-off">
              <label for="switch1" class="label__on-off">
                <span class="marble"></span>
                <span class="on" >on</span>
                <span class="off" >off</span>
              </label>
              
            </div>
            <div class="mid">
              <img src="{{ url_for('static', filename='images/습도.png') }}" alt="" height="50px" style="margin-right: 30px;">
              <p>현재습도 : 60%</p>
              <p>FanIn</p>
              <input type="checkbox" id="switch2" name="switch2" class="input__on-off">
              <label for="switch2" class="label__on-off">
                <span class="marble"></span>
                <span class="on">on</span>
                <span class="off">off</span>
              </label>
              
            </div>
            <div class="mid">
              <img src="{{ url_for('static', filename='images/조도.png') }}" alt="" height="50px" style="margin-right: 30px;">
              <p>현재조도 : 20lx</p>
              <p>FanOut</p>
              <input type="checkbox" id="switch3" name="switch3" class="input__on-off">
              <label for="switch3" class="label__on-off">
                <span class="marble"></span>
                <span class="on">on</span>
                <span class="off">off</span>
              </label>
            </div>
            <div class="mid">
              <img src="{{ url_for('static', filename='images/토양습도.png') }}" alt="" height="50px" style="margin-right: 30px;">
              <p>토양습도 : 20%</p>
              <p>Pump</p>
              <input type="checkbox" id="switch4" name="switch4" class="input__on-off">
              <label for="switch4" class="label__on-off">
                <span class="marble"></span>
                <span class="on">on</span>
                <span class="off">off</span>
              </label>
            </div>
          </div>
          <!-- 온도, 습도 , 조도, 토양습도  버튼 끝-->
        </div>
      </form>
        <!-- 디스플레이 끝 -->
      <form>
        <!-- Settings 시작-->
        <div class="Settings">
          <div class="ControlPage">Settings</div>
          <div class="mid">

            <!-- LED 게이지 -->
            <p>LED</p>
            
            <div class="range-slider" style="margin-top: 40px;">
              <input class="input-range" type="range" value="1" min="0" max="100"> 
              <span class="range-value">1</span>
            </div>

            <!-- Fan1 버튼 -->
            <div class="Fan1">
              <p >Fan1</p>
            </div>
            <input type="checkbox" id="switch5" name="switch5" class="input__on-off">
            <label for="switch5" class="label__on-off">
              <span class="marble"></span>
              <span class="on">on</span>
              <span class="off">off</span>
            </label>

            <!-- Fan2 버튼 -->
            <div class="Fan2">
              <p>Fan2</p>
            </div>
              <input type="checkbox" id="switch6" name="switch6" class="input__on-off">
              <label for="switch6" class="label__on-off">
                <span class="marble"></span>
                <span class="on">on</span>
                <span class="off">off</span>
              </label>

          </div>
          <div class="mid Pump">
            <p>Pump</p>
            <input type="checkbox" id="switch7" name="switch7" class="input__on-off">
            <label for="switch7" class="label__on-off">
              <span class="marble"></span>
              <span class="on">on</span>
              <span class="off">off</span>
            </label>
          </div>
        </div>
        <!-- Settings 끝-->
      </form>
    </div>
  </div>
</body>
</html>
